*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Coke4U;
 }
 .menu
 {
     background: url(Anh/1anh\ nen\ menu.jpg);
     background-size: 25%;
 }
 .title
 {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     word-spacing: 3px;
 }
 .titleText
 {
     color: #111;
     font-size: 2.5em;
     font-weight: 500;
 }
 .titleText span
 {
     color: #ff0157;
     font-weight: 700;
     font-size: 1.5em;
 }
 .menu .content
 {
     display: flex;
     justify-content: center;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     margin-top: 40px;
 }
 .menu .content .box
 {
     width: 340px;
     margin: 20px;
     border: 15px solid #fff;
     box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
 }
 .menu .content .box .imgBx
 {
     position: relative;
     width: 100%;
     height: 300px;
 }
 .menu .content .box .imgBx img
 {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 } 
 .menu .content .box .text
 {
     padding: 15px 0 5px;
     text-align: center;
 }
 .menu .content .box .text h3
 {
     font-weight: 400;
     color: #111;
 }
 .menu .content .box .gia p
 {
     text-align: center;
     color: #111;
 }
 .content .textBox a
 {
     display: inline-block;
     text-align: center;
     padding: 10px 30px;
     background: #e51e2a;
     color: #fff;
     border-radius: 0px;
     font-weight: 500;
     letter-spacing: 4px;
     text-decoration: none;  
     transition: 0.5s;
 }
 .content .textBox a:hover
 {
     letter-spacing: 2px;
 }
 
 #sideNav
 {
     width: 250px;
     height: 100vh;
     position: fixed;
     right: -250px;
     top: 0;
     background: #f67c92;
     z-index: 2;
     transition: .5s;
 }
 nav ul li{
     list-style: none;
     margin: 50px 20px;
 }
 nav ul li a{
     text-decoration: none;
     color: #fff;
 }
 nav ul li a:hover{
     color: black;
 }
 #menuBtn
 {
     width: 50px;
     position: fixed;
     right: 65px;
     top: 35px;
     z-index: 2;
     cursor: pointer;
 }